{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} m-2">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
<div class="login-page">

    <div style="margin-left: 4%;
    border: 2px dashed #3a57af;
    display: inline-block;
    border-radius: 7px;
    margin-top: -35%;
    width: 90%;
    height: 120%;
">

        <form method="post" class="register-form" style="text-align: center;">
            {% if error %}
                {{ error.message }}
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1>Connexion</h1><br>

            <div style="position: relative;" class="form-login-control" >
                <label style="    display: inline-block;
    position: absolute;
    left: 10px;
    top: 7px;" for="inputEmail"><i class="icon-envelope "></i></label>
                <input style ="padding-left: 35px;" type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" class="form-control" autocomplete="email" required autofocus><br><br>
            </div>

            <div style="position: relative;" class="form-login-control" >
                <label style = "display: inline-block;
    position: absolute;
    left: 10px;
    top: 7px;" for="inputPassword"><i class="icon-shield"></i></label>
                <input style ="padding-left: 35px;" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Mot de Passe" required><br><br>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">
                <label>
                    <input type="checkbox" name="_remember_me" style="
                           margin-left: -4%;"> Se souvenir de moi
                </label><br>
                <a href="{{path('app_forgot_password_request')}}" >Mot de passe oublié</a><br><br>
            <button class="btn btn-lg btn-primary" type="submit" style="border-radius: 6px;
    width: 40%;
    background-color: #3a57af;
    color: #ebebeb;
    border-color: #ebebeb;
}}">
                Se connecter
            </button><br><br>
        </form>
    </div>

</div>
{% endblock %}
