{% extends 'base.html.twig' %}

{% block title %}Participant index{% endblock %}

{% block body %}
    <h1>Participant index</h1>
    <div style="
    text-align: center;
    background-color: #ebebeb;
    border-radius: 10px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: table;
    border: 1px dashed;
">
        <table class="table" style="border-spacing: 40px;">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Mail</th>
                <th>Pseudo</th>
                <th>Actif</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in participants %}
                <tr>
                    <td>{{ participant.id }}</td>
                    <td>{{ participant.nom }}</td>
                    <td>{{ participant.prenom }}</td>
                    <td>{{ participant.telephone }}</td>
                    <td>{{ participant.email }}</td>
                    <td>{{ participant.pseudo }}</td>
                    <td>{{ participant.actif ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('app_participant_show', {'id': participant.id}) }}"><i class="fa-solid fa-eye"></i></a>
                        <a href="{{ path('app_participant_edit', {'id': participant.id}) }}"><i class="fa-solid fa-user-pen"></i></a>

                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('app_participant_disable', {'id': participant.id}) }}"><i class="fa-solid fa-user-slash"></i></a>
                            {{  include('participant/_delete_form.html.twig',{'participant':participant})  }}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_sortie_list') }}"><i class="fa-solid fa-circle-arrow-left fa-2xl"></i></a>
    </div>

{% endblock %}
