{{ form_start(form) }}
<div class="row justify-content-around mt-5">
    <div class="col-5">
        <div class="mb-3">
            {{ form_row(form.nom) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.dateHeureDebut) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.dateLimiteInscription) }}
        </div>
        <div class="mb-3">
            <div class="row justify-content-around">
                <div class="col">
                    {{ form_label(form.nbInscriptionsMax) }}
                    {{ form_widget(form.nbInscriptionsMax) }}
                </div>
                <div class="col">
                    {{ form_label(form.duree) }}
                    {{ form_widget(form.duree) }}
                </div>
            </div>
        </div>
        <div class="mb-3">
            {{ form_row(form.infoSortie) }}
        </div>
    </div>
    <div class="col-5">
        <div class="mb-3">
            {{ form_row(form.campus) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.ville) }}
        </div>
        <div class="mb-3">
            <label class="form-label required" for="sortie_lieu">Lieu</label>
            <div class="mb-3 input-group" id="div_lieu">
                <select id="sortie_lieu" name="sortie[lieu]" class="form-select" required="required"></select>
                <span class="input-group-btn ms-2">
                    <a href="{{ path('app_lieu_new') }}" target="_blank" class="btn"><strong>+</strong></a>
                </span>
            </div>
        </div>
        <div class="mb-3">
            {{ form_row(form.rue) }}
        </div>
        <div class="mb-3">
            <div class="mb-3">
                <label class="form-label required" for="sortie_codePostal">Code postal</label>
                <input type="text" id="sortie_codePostal" name="sortie[codePostal]" readonly="readonly" class="form-control">
            </div>
        </div>
        <div class="mb-3">
            <div class="row justify-content-around">
                <div class="col">
                    {{ form_label(form.latitude) }}
                    {{ form_widget(form.latitude) }}
                </div>
                <div class="col">
                    {{ form_label(form.longitude) }}
                    {{ form_widget(form.longitude) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="mt-5 mb-5">
        <div id="groupe-boutons">
            <div class="bouton">
                {{ form_widget(form.enregistrer) }}
            </div>
            <div class="bouton">
                {{ form_widget(form.publier) }}
            </div>
            <div class="bouton">
                <a href="{{ path('app_sortie_index') }}" class="btn btn-secondary" role="button">Annuler</a>
            </div>
        </div>
    </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}