{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
<div class="accueil-page">
    {% if(is_granted("ROLE_ADMIN")) %}
    <a href="{{ path('app_admin')}}"><i class="fa-sharp fa-solid fa-user-secret fa-2xl"></i> Admin</a>
    {% endif %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} m-2">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="top-right">
        <div>
            <label>Date du jour: {{ "now"|date("d/m/Y") }}</label>
        </div>
        <div>
            <label>Participant: {{ app.user.pseudo }}</label>
        </div>
    </div>
    <div class="row text-center mt-5">
        <h3>Filtrer les sorties</h3>
    </div>
    {{ form_start(form) }}
        <div class="row mt-5">
            <div class="col-8 offset-2">
                {{ form_row(form.campus) }}
            </div>
            <div class="col-8 offset-2">
                {{ form_row(form.nom) }}
            </div>
            <div class="col-8 offset-2">
                {{ form_row(form.dateStart) }}
                {{ form_row(form.dateEnd) }}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-8 offset-2">
                <div>
                    {{ form_row(form.organisateur) }}
                </div>
                <div>
                    {{ form_row(form.inscrit) }}
                </div>
                <div>
                    {{ form_row(form.nonInscrit) }}
                </div>
                <div>
                    {{ form_row(form.passees) }}
                </div>
            </div>
            <div class="col-8 offset-2">
                {{ form_row(form.search) }}
            </div>
        </div>
    {{ form_end(form) }}
    <div class="col-8 offset-2">
        <a class="text text-info" href="{{ path('app_sortie_new') }}"><button>Créer une Sortie</button></a>
    </div>
    <div class="row mt-5 offset-1 scroll">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">inscrits/places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                {% if (sortie.etat.libelle != "Créée" or sortie.organisateur.pseudo == app.user.pseudo) %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date("d/m/y h") }}h{{ sortie.dateHeureDebut|date("i") }}</td>
                        <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
                        <td>{{ sortie.participants|length }}/{{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>{% if app.user in sortie.participants %}X{% endif %}</td>
                        <td>{{ sortie.organisateur.pseudo }}</td>
                        <td>
                            {% if is_granted('SHOW_SORTIE', sortie) %} {{ include('sortie/_show_form.html.twig') }} {% endif %}
                            {% if is_granted('EDITABLE_SORTIE', sortie) %} {{ include('sortie/_edit_form.html.twig') }} {% endif %}
                            {% if is_granted('EDITABLE_SORTIE', sortie) %} {{ include('sortie/_publish_form.html.twig') }} {% endif %}
                            {% if is_granted('CANCEL_SORTIE', sortie) %} {{ include('sortie/_cancel_form.html.twig') }} {% endif %}
                            {% if is_granted('IN_SORTIE', sortie) %} {{ include('sortie/_in_form.html.twig') }} {% endif %}
                            {% if is_granted('OUT_SORTIE', sortie) %} {{ include('sortie/_out_form.html.twig') }} {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
