{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
<h1>Afficher une sortie</h1>

<div class="row justify-content-around">
    <div class="col-5">
        <div class="mb-3">
            <label class="form-label">Nom de la sortie : {{ sortie.nom }}</label>
        </div>
        <div class="mb-3">
            <label class="form-label">
                Date et heure de la sortie : {{ sortie.dateHeureDebut ?
                sortie.dateHeureDebut|date('d/m/Y \\à H:i') : '' }}</label>
        </div>
        <div class="mb-3">
            <label class="form-label">
                Date limite d'inscription : {{ sortie.dateLimiteInscription ?
                sortie.dateLimiteInscription|date('d/m/Y') : '' }}
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label">Nombre de places : {{ sortie.nbInscriptionsMax }}</label>
        </div>
        <div class="mb-3">
            <label class="form-label">Durée : {{ sortie.duree }} minutes</label>
        </div>
        <div class="mb-3">
            <label class="form-label">Descriptions et infos : <br/>
            {{ sortie.infoSortie }}</label>
        </div>
    </div>
    <div class="col-5">
        <div class="mb-3">
            <label class="form-label">Campus : {{ sortie.campus.nom }}</label>
        </div>
        <div class="mb-3">
            <label class="form-label">Lieu : {{ sortie.lieu.nom }} à {{ sortie.lieu.ville.nom|upper }}</label>
        </div>
        <div class="mb-3">
            <label class="form-label">Rue : {{ sortie.lieu.rue }}</label>
        </div>
        <div class="mb-3">
            <label class="form-label">Code postal : {{ sortie.lieu.ville.nom }}</label>
        </div>
        <div class="mb-3">
            <label class="form-label">Latitude : {{ sortie.lieu.latitude }}</label>
        </div>
        <div class="mb-3">
            <label class="form-label">Longitude : {{ sortie.lieu.longitude }}</label>
        </div>
    </div>
<div class="row justify-content-start mt-3">
    <div class="col-5 ms-5">
    {% if sortie.participants|length > 1 %}
        <table id="liste_participants" class="table table-striped">
            <caption>Liste des participants : </caption>
            <thead class="table-dblock">
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody class="table-dblock table-scrollable">
            {% for participant in sortie.participants %}
                {% if participant.id != sortie.organisateur.id %}
                    <tr>
                        <td>{{ participant.pseudo }}</td>
                        <td>{{ participant.prenom }} {{ participant.nom|upper }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun participant inscrit pour le moment.</p>
    {% endif %}
    </div>
</div>
<div>
    <a href="{{ path('app_sortie_index') }}">back to list</a>
    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">edit</a>
</div>
{% endblock %}