{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
<h1 class="text-center mt-3">Afficher une sortie</h1>

<div class="row justify-content-around mt-5">
    <div class="col-4">
        <div class="mb-3">
            <label class="form-label"><strong>Nom de la sortie :</strong> {{ sortie.nom }}</label>
        </div>
        <div class="mb-3">
            <label class="form-label">
                <strong>Date et heure de la sortie :</strong> {{ sortie.dateHeureDebut ?
                sortie.dateHeureDebut|date('d/m/Y \\à H:i') : '' }}</label>
        </div>
        <div class="mb-3">
            <label class="form-label">
                <strong>Date limite d'inscription :</strong> {{ sortie.dateLimiteInscription ?
                sortie.dateLimiteInscription|date('d/m/Y') : '' }}
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Nombre de places :</strong> {{ sortie.nbInscriptionsMax }}</label>
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Durée :</strong> {{ sortie.duree }} minutes</label>
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Descriptions et infos :</strong> <br/>
            {{ sortie.infoSortie }}</label>
        </div>
    </div>
    <div class="col-4">
        <div class="mb-3">
            <label class="form-label"><strong>Campus :</strong> {{ sortie.campus.nom }}</label>
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Lieu :</strong> {{ sortie.lieu.nom }} à {{ sortie.lieu.ville.nom|upper }}</label>
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Rue :</strong> {{ sortie.lieu.rue }}</label>
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Code postal :</strong> {{ sortie.lieu.ville.nom }}</label>
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Latitude :</strong> {{ sortie.lieu.latitude }}</label>
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Longitude :</strong> {{ sortie.lieu.longitude }}</label>
        </div>
        <div class="mb-3">
        {% if sortie.participants|length > 1 %}
            <table id="liste-participants" class="table table-striped">
                <caption>Liste des participants :</caption>
                <thead class="table-dblock">
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
                </thead>
                <tbody class="table-dblock table-scrollable">
                {% for participant in sortie.participants %}
                    {% if participant.id != sortie.organisateur.id %}
                        <tr>
                            <td>{{ participant.pseudo }}</td>
                            <td>{{ participant.prenom }} {{ participant.nom|upper }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucune inscription pour le moment.</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}